@charset "UTF-8";
body {
  font-family: '游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif;
  background: #ECECEC; }

* a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit; }

* a:hover {
  color: #D1B478; }

* h1 {
  color: #6E6E6E;
  text-align: center; }

* .section-title {
  font-weight: normal;
  font-size: 40px;
  margin: 90px 0 40px 0; }

* .section-title::after {
  content: attr(data-subtitle);
  display: block;
  font-size: 12px; }

* h2 {
  font-size: 20px;
  color: #6E6E6E;
  font-weight: normal; }

* h3 {
  font-size: 18px;
  color: #6E6E6E;
  font-weight: normal;
  margin-top: 10px; }

* h4 {
  font-size: 16px;
  color: #6E6E6E;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #fa8383;
  padding-bottom: 15px; }

* h5 {
  font-size: 16px;
  color: #6E6E6E; }

* p {
  font-size: 14px;
  color: #6E6E6E;
  line-height: 2.5;
  letter-spacing: 4px; }

* .btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 40px;
  margin-top: 30px;
  text-decoration: none;
  color: #6E6E6E;
  background: #ECECEC;
  transition: .4s;
  border: 0.5px solid #6E6E6E;
  cursor: pointer; }

* .btn:hover {
  background: #6E6E6E;
  color: white; }

* .ribbon-wrapper {
  display: block;
  position: relative;
  padding: 10px 22px;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 2px 2px #dbdbdb; }

* .ribbon {
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 10px;
  margin: 0;
  padding: 10px 0 7px;
  z-index: 2;
  width: 40px;
  text-align: center;
  color: white;
  font-size: 13px;
  background: #fa8383;
  border-radius: 2px 0 0 0; }

* .ribbon:before {
  position: absolute;
  content: '';
  top: 0;
  right: -5px;
  border: none;
  border-bottom: solid 6px #d07676;
  border-right: solid 5px transparent; }

* .ribbon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #fa8383; }

* .works-text {
  position: relative;
  display: flex; }
  * .works-text .works-sub-tile {
    width: 30%; }

* .works-tile {
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  margin: auto; }
  * .works-tile img {
    height: 100%;
    width: 100%; }

* .works-comment {
  text-align: center;
  margin: 15px auto 40px auto; }

header .header-area {
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  opacity: 0.9;
  display: flex; }
  header .header-area .header-logo {
    margin: 5px; }
    header .header-area .header-logo a img {
      height: 50px; }
  header .header-area .header-navi {
    width: 100%;
    text-align: right;
    margin: auto 0; }
    header .header-area .header-navi ul {
      height: 100%; }
      header .header-area .header-navi ul li {
        display: inline-block;
        margin-right: 14px; }
        header .header-area .header-navi ul li .hover-1 {
          position: relative;
          background: #fff; }
          header .header-area .header-navi ul li .hover-1::before {
            content: attr(data);
            display: block; }
          header .header-area .header-navi ul li .hover-1::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            justify-content: center;
            height: 3px;
            background-color: #D1B478;
            transition: width 300ms;
            width: 0; }
          header .header-area .header-navi ul li .hover-1:hover::after {
            width: 100%; }

header .hero-area {
  background-image: url(/img/hero_image.png);
  height: 590px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 63px;
  margin-bottom: 60px; }

main .works-area {
  text-align: center;
  padding: 0 15%; }
  main .works-area .works-box {
    padding-bottom: 25px; }
    main .works-area .works-box .works-dental .works-text {
      display: block; }
      main .works-area .works-box .works-dental .works-text .works-sub-tile {
        width: 100%; }
        main .works-area .works-box .works-dental .works-text .works-sub-tile img {
          height: 100%;
          width: 100%; }
        main .works-area .works-box .works-dental .works-text .works-sub-tile .coming-soon {
          padding: 25% 0; }
      main .works-area .works-box .works-dental .works-text .works-title {
        display: flex; }
        main .works-area .works-box .works-dental .works-text .works-title img {
          height: 25px;
          margin-right: 10px; }
    main .works-area .works-box .works-hotel .works-text {
      display: block; }
      main .works-area .works-box .works-hotel .works-text .works-sub-tile {
        width: 100%; }
        main .works-area .works-box .works-hotel .works-text .works-sub-tile img {
          height: 100%;
          width: 100%; }
        main .works-area .works-box .works-hotel .works-text .works-sub-tile .coming-soon {
          padding: 25% 0; }
      main .works-area .works-box .works-hotel .works-text .works-title {
        display: flex; }
        main .works-area .works-box .works-hotel .works-text .works-title img {
          height: 25px;
          margin-right: 10px; }
    main .works-area .works-box .works-portfolio .works-text {
      display: block; }
      main .works-area .works-box .works-portfolio .works-text .works-portfolio-tile {
        width: 100%; }
        main .works-area .works-box .works-portfolio .works-text .works-portfolio-tile img {
          height: 100%;
          width: 100%; }
        main .works-area .works-box .works-portfolio .works-text .works-portfolio-tile .coming-soon {
          padding: 25% 0; }
      main .works-area .works-box .works-portfolio .works-text .works-title {
        display: flex; }
        main .works-area .works-box .works-portfolio .works-text .works-title img {
          height: 25px;
          margin-right: 10px; }

main .about {
  padding: 0 11%;
  text-align: center; }
  main .about .profile .profile-message {
    text-align: center; }
    main .about .profile .profile-message .profile-text {
      margin-top: 15px; }
  main .about .profile .profile-image img {
    height: 300px;
    width: auto;
    border-radius: 50%;
    border: 10px solid #fff; }

main .career {
  padding: 0 2%; }
  main .career .career-area {
    margin: 0 auto;
    display: table; }
    main .career .career-area .timeline li {
      overflow: hidden;
      margin: 0;
      position: relative; }
      main .career .career-area .timeline li .timeline-date {
        width: 110px;
        float: left;
        margin-top: 20px; }
      main .career .career-area .timeline li .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #bbbbbb solid;
        padding: 10px 0 10px 30px; }
      main .career .career-area .timeline li .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #fa8383;
        position: absolute;
        left: 106px;
        top: 24px;
        border-radius: 100%; }

main .skill {
  padding: 0 10%; }
  main .skill .skill-area .skill-html img {
    height: 60px;
    width: auto;
    padding: 0% 39% 5% 39%; }
  main .skill .skill-area .skill-css img {
    height: 70px;
    width: auto;
    padding: 0% 37% 5% 37%; }
  main .skill .skill-area .skill-js img {
    height: 60px;
    width: auto;
    padding: 0% 39% 5% 39%; }

@media screen and (min-width: 750px) {
  .wrapper {
    width: 100%; }
    .wrapper main .works-area .works-box {
      display: flex; }
      .wrapper main .works-area .works-box .works-dental {
        width: 30%; }
        .wrapper main .works-area .works-box .works-dental .works-text .works-title {
          margin: 10px auto; }
      .wrapper main .works-area .works-box .works-hotel {
        width: 30%;
        margin: 0 20px; }
        .wrapper main .works-area .works-box .works-hotel .works-text .works-title {
          margin: 10px auto; }
      .wrapper main .works-area .works-box .works-portfolio {
        width: 30%; }
        .wrapper main .works-area .works-box .works-portfolio .works-text .works-title {
          margin: 10px auto; }
    .wrapper main .works-main {
      padding: 0 25%; }
    .wrapper main .about .profile {
      display: flex; }
      .wrapper main .about .profile .profile-message {
        width: 50%;
        margin-right: 50px; }
      .wrapper main .about .profile .profile-image {
        width: 50%;
        margin: auto 0; }
    .wrapper main .skill .skill-area {
      display: flex; }
      .wrapper main .skill .skill-area .skill-html {
        width: 30%; }
      .wrapper main .skill .skill-area .skill-css {
        width: 30%;
        margin: 0 auto; }
      .wrapper main .skill .skill-area .skill-js {
        width: 30%; } }

@media screen and (max-width: 750px) {
  .wrapper {
    width: 100%; }
    .wrapper main .works-area .works-box .works-dental {
      width: 100%; }
      .wrapper main .works-area .works-box .works-dental .works-text .works-title {
        margin: 10px auto 50px auto; }
    .wrapper main .works-area .works-box .works-hotel {
      width: 100%; }
      .wrapper main .works-area .works-box .works-hotel .works-text .works-title {
        margin: 10px auto 50px auto; }
    .wrapper main .works-area .works-box .works-portfolio {
      width: 100%; }
      .wrapper main .works-area .works-box .works-portfolio .works-text .works-title {
        margin: 10px auto 0px auto; }
    .wrapper main .works-main {
      padding: 0 15%; }
    .wrapper main .about-area .profile .profile-message {
      margin-bottom: 50px; }
    .wrapper main .skill .skill-area .skill-html {
      width: 100%;
      margin-bottom: 50px; }
    .wrapper main .skill .skill-area .skill-css {
      width: 100%;
      margin-bottom: 50px; }
    .wrapper main .skill .skill-area .skill-js {
      width: 100%; } }

footer .sns-area {
  padding-top: 55px;
  display: flex; }
  footer .sns-area ul {
    margin: auto; }
    footer .sns-area ul li {
      display: inline-block; }
      footer .sns-area ul li a img {
        height: 35px;
        width: auto;
        margin: 0 10px; }

footer .sns-area ul li a:hover {
  opacity: 0.5; }

footer .copy-area {
  padding: 40px; }
  footer .copy-area p {
    font-size: 10px;
    text-align: center; }

