//共通
body {
  font-family: '游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif;
  background: #ECECEC;
}

* a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

* a:hover {
  color: #D1B478;
}

* h1 {
  color: #6E6E6E;
  text-align: center;
}

* .section-title {
  font-weight: normal;
  font-size: 40px;
  margin: 90px 0 40px 0;
}
* .section-title::after {
  content: attr(data-subtitle);
  display: block;
  font-size: 12px;
}

* h2 {
  font-size: 20px;
  color: #6E6E6E;
  font-weight: normal;
}

* h3 {
  font-size: 18px;
  color: #6E6E6E;
  font-weight: normal;
  margin-top: 10px;
}

* h4 {
  font-size: 16px;
  color: #6E6E6E;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #fa8383;
  padding-bottom: 15px;
}

* h5 {
  font-size: 16px;
  color: #6E6E6E;
}

* p {
  font-size: 14px;
  color: #6E6E6E;
  line-height: 2.5;
  letter-spacing: 4px;
}

* .btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 40px;
  margin-top: 30px;
  text-decoration: none;
  color: #6E6E6E;
  background: #ECECEC;
  transition: .4s;
  border: 0.5px solid #6E6E6E;
  cursor: pointer;
}
  
* .btn:hover {
  background: #6E6E6E;
  color: white;
}

* .ribbon-wrapper {  
  display: block;
  position: relative;
  padding: 10px 22px;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 2px 2px #dbdbdb;
  }

* .ribbon {  
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 10px;
  margin: 0;
  padding: 10px 0 7px;
  z-index: 2;
  width: 40px;
  text-align: center;
  color: white;
  font-size: 13px;
  background: #fa8383;
  border-radius: 2px 0 0 0;
  }

* .ribbon:before {
  position: absolute;
  content: '';
  top: 0;
  right: -5px;
  border: none;
  border-bottom: solid 6px #d07676;
  border-right: solid 5px transparent;
}

* .ribbon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #fa8383;
}

* .works-text {
  position: relative;
  display: flex;
    .works-sub-tile {
      width: 30%;
    }
  }

//Worls mainページ
* .works-tile {
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  margin: auto;
  img {
    height: 100%;
    width: 100%;
  }
}

* .works-comment {
  text-align: center;
  margin: 15px auto 40px auto;
}