main {
  // padding: 0 14%;
  .works-area {
    text-align: center;
    padding: 0 15%;
    .works-box {
      padding-bottom: 25px;
      .works-dental {
        // width: 30%;
        .works-text {
          display: block;
          .works-sub-tile {
            width: 100%;
            img {
              height: 100%;
              width: 100%;
            }
            .coming-soon {
              padding: 25% 0;
            }
          }
          .works-title {
            // margin: 10px auto;
            display: flex;
            img {
              height: 25px;
              margin-right: 10px;
            }
          }
        }
      }
      .works-hotel {
        // width: 30%;
        // margin: 0 20px;
        .works-text {
          display: block;
          .works-sub-tile {
            width: 100%;
            img {
              height: 100%;
              width: 100%;
            }
            .coming-soon {
              padding: 25% 0;
            }
          }
          .works-title {
            // margin: 10px auto;
            display: flex;
            img {
              height: 25px;
              margin-right: 10px;
            }
          }
        }
      }
      .works-portfolio {
        // width: 30%;
        .works-text {
          display: block;
          .works-portfolio-tile {
            width: 100%;
            img {
              height: 100%;
              width: 100%;
            }
            .coming-soon {
              padding: 25% 0;
            }
          }
          .works-title {
            // margin: 10px auto;
            display: flex;
            img {
              height: 25px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .about {
    padding: 0 11%;
    text-align: center;
    .profile {
      .profile-message {
        text-align: center;
        .profile-text {
          margin-top: 15px;
        }
      }
      .profile-image {
        img {
          height: 300px;
          width: auto;
          border-radius: 50%;
          border: 10px solid #fff;
        }
      }
    }
  }
  .career {
    padding: 0 2%;
    .career-area {
      margin: 0 auto;
      display: table;
      .timeline {
        li {
          overflow: hidden;
          margin: 0;
          position: relative;
          .timeline-date {
            width: 110px;
            float: left;
            margin-top: 20px;
          }
          .timeline-content {
            width: 75%;
            float: left;
            border-left: 3px#bbbbbb  solid;
            padding: 10px 0 10px 30px;
          }
          .timeline-content:before {
            content: '';
            width: 12px;
            height: 12px;
            background: #fa8383;
            position: absolute;
            left: 106px;
            top: 24px;
            border-radius: 100%;
          }
        }
      }
    }
  }
  .skill {
    padding: 0 10%;
    .skill-area{
      // display: flex;
      .skill-html {
        // width: 30%;
        img {
          height: 60px;
          width: auto;
          padding: 0% 39% 5% 39%;
        }
      }
      .skill-css {
        // width: 30%;
        // margin: 0 auto;
        img{
          height: 70px;
          width: auto;
          padding: 0% 37% 5% 37%;
        }
      }
      .skill-js {
        // width: 30%;
        img {
          height: 60px;
          width: auto;
          padding: 0% 39% 5% 39%;
        }
      }
    }
  }
}

// PC版
@media screen and (min-width: 750px) {
  .wrapper {
    width: 100%;
    main {
      .works-area {
        .works-box {
          display: flex;
          .works-dental {
            width: 30%;
            .works-text {
              .works-title {
                margin: 10px auto;
              }
            }
          }
          .works-hotel {
            width: 30%;
            margin: 0 20px;
            .works-text {
              .works-title {
                margin: 10px auto;
              }
            }
          }
          .works-portfolio {
            width: 30%;
            .works-text {
              .works-title {
                margin: 10px auto;
              }
            }
          }
        }
      }
      .works-main {
        padding: 0 25%;
      }
      .about {
        .profile {
          display: flex;
          .profile-message {
            width: 50%;
            margin-right: 50px;
          }
          .profile-image {
            width: 50%;
            margin: auto 0;
          }
        }
      }
      .skill {
        .skill-area {
          display: flex;
          .skill-html {
            width: 30%;
          }
          .skill-css {
            width: 30%;
            margin: 0 auto;
          }
          .skill-js {
            width: 30%;
          }
        }
      }
    }
  }
}


// SP版
@media screen and (max-width: 750px) {
  .wrapper {
    width: 100%;
    main {
      .works-area {
        .works-box {
          .works-dental {
            width: 100%;
            .works-text {
              .works-title {
                margin: 10px auto 50px auto;
              }
            }
          }
          .works-hotel {
            width: 100%;
            .works-text {
              .works-title {
                margin: 10px auto 50px auto;
              }
            }
          }
          .works-portfolio {
            width: 100%;
            .works-text {
              .works-title {
                margin: 10px auto 50px auto;
              }
            }
          }
        }
      }
      .works-main {
        padding: 0 15%;
      }
      .about {
        .profile {
          .profile-message {
            margin-bottom: 50px;
          }
        }
      }
      .skill {
        .skill-area {
          .skill-html {
            width: 100%;
            margin-bottom: 50px;
          }
          .skill-css {
            width: 100%;
            margin-bottom: 50px;
          }
          .skill-js {
            width: 100%;
          }
        }
      }
    }
  }
}